/* fonts */ /*TODO: CUSTOMIZE -typescale*/
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400|Oxygen:400");

/*
=============== 
*LAYOUT DEBUGGER - Remove later.
===============
*/
html {
  --outline: 1px dotted rgba(255, 0, 0, 0.5);
  --outline: 0px;
}

* {
  outline: var(--outline);
}

/*
=============== 
*BOX-SIZING
===============
*/
*,
::after,
::before {
  box-sizing: border-box; /** Added by JOHN*/
}

html {
  font-size: 100%;
} /*16px*/

/** =============================================================VARIABLES========================================================= */
:root {
  /*
=============== 
*COLORS
===============
*/
  /*TODO: Get shades - shadowlord 20%*/
  /* dark shades of primary color*/
  --primary-100: #e2e0ff;
  --primary-200: #c1beff;
  --primary-300: #a29dff;
  --primary-400: #837dff;
  /* primary/main color */ /*TODO: CUSTOMIZE*/
  --primary-500: #645cff;
  /* lighter shades of primary color */
  --primary-600: #504acc;
  --primary-700: #3c3799;
  --primary-800: #282566;
  --primary-900: #141233;

  /*TODO: Get shades - shadowlord 20%*/
  /* dark shades of secondary color*/
  --secondary-100: #33250f;
  --secondary-200: #664a1d;
  --secondary-300: #99702c;
  --secondary-400: #cc953a;
  /* secondary color */ /*TODO: CUSTOMIZE*/
  --secondary-500: #ffba49;
  /* lighter shades of secondary color */
  --secondary-600: #ffc86d;
  --secondary-700: #ffd692;
  --secondary-800: #ffe3b6;
  --secondary-900: #fff1db;

  /* grey: Blue gray*/ /*TODO: CUSTOMIZE*/
  /** From tailwind.*/
  --grey-50: #f8fafc;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: #475569;
  --grey-700: #334155;
  --grey-800: #1e293b;
  --grey-900: #0f172a;

  /* accent color */
  --accent: #4fff9b; /*TODO: CUSTOMIZE - Cuadrado Color Wheel.*/
  /* Other utility colors. */
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da; /*!Error messages.*/
  --red-dark: #842029;
  --green-light: #d1e7dd; /**Success messages.*/
  --green-dark: #0f5132;

  /*
=============== 
*FONTS
===============
*/
  --heading-font: "Oxygen", sans-serif;
  --body-font: "Source Sans Pro", sans-serif;
  --small-text: 0.875rem; /** Changed by JOHN- var name*/
  --extra-small-text: 0.7em; /**small text relative to container.*/

  /*
=============== 
*SPACERS
===============
*/
  /**For vertical rhythm. Entre creados por mí y Javier.*/
  --spacer-2xs: 0.5rem;
  --spacer-xs: 0.75rem;
  --spacer-s: 1rem;
  --spacer-baseline: 1.5rem;
  --spacer-l: 2rem;
  --spacer-xl: 3rem;
  --spacer-2xl: 4rem;
  --spacer-3xl: 5rem;
  --spacer-4xl: 6rem;
  --spacer-5xl: 7rem;
  --spacer-6xl: 8rem;

  /*
=============== 
*BOX SHADOW
===============
*/
  /** From tailwind.*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);

  /*
=============== 
*ESSENTIALS
===============
*/
  /*Layout*/ /*TODO: CUSTOMIZE*/
  --max-width: 1120px; /*Boxed-content*/
  --fixed-width: 600px; /*Fixed-sized content*/
  /*Colors*/ /*TODO: CUSTOMIZE - CHECK ACCESIBILITY*/
  --background-color-light: var(--grey-50);
  --text-color-dark: var(--grey-900);
  --background-color-dark: var(--primary-800);
  --text-color-light: var(--grey-100);

  /*Others*/ /*TODO: CUSTOMIZE*/
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.2s ease-in-out all;
}

/*
=============== 
*TEXT STYLES
===============
*/
body {
  background: var(--background-color-light);
  font-family: var(--body-font);
  font-weight: 400;
  line-height: 1.5; /*Usual 1.4-1.6*/
  color: var(--text-color-dark);
}

.contrasting-section {
  background: var(--background-color-dark);
  color: var(--text-color-light);
}

p {
  margin-bottom: 1.5rem; /*?ALTERNATIVE: 1rem*/
  max-width: 40em; /*TODO: Added by JOHN*/
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  margin-bottom: 1.38rem; /** margins changed by JOHN*/
  font-family: var(--heading-font);
  font-weight: 400;
  line-height: 1.3;
  text-transform: capitalize; /** Added by JOHN*/
  letter-spacing: var(--letterSpacing);
}

/**SCALE: Major 3rd*/
/*?ALTERNATIVE: Perfect 4th*/
/*TODO: CUSTOMIZE -typescale*/
h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small,
.text-small {
  font-size: var(--small-text);
}

/** All styles below added by JOHN*/
/* title */
.title {
  text-align: center;
}

.title-underline {
  background: var(--primary-500);
  width: 7rem;
  height: 0.25rem;
  margin: 0 auto;
  margin-top: -1rem;
}

/*links*/
a {
  text-decoration: none;
  /*Added by me.*/
  color: var(--accent);
  transition: var(--transition);
}

a:hover {
  /*Added by me.*/
  color: var(--secondary-300);
}

/*lists*/
ul {
  list-style-type: none;
  padding: 0;
}

/* alerts */
.alert {
  padding: 0.375rem 0.75rem;
  margin-bottom: 1rem;
  border-color: transparent;
  border-radius: var(--borderRadius);
}

.alert-danger {
  color: var(--red-dark);
  background: var(--red-light);
}
.alert-success {
  color: var(--green-dark);
  background: var(--green-light);
}

/* icons */
.fa-icon::before {
  font-size: 1.5rem;
  color: var(--primary-500);
}

/*
=============== 
*IMAGES
===============
*/
.img {
  width: 100%; /*container dependant.*/
  display: block; /*To avoid bottom gap.*/
  object-fit: cover;
}

/*
=============== 
*BUTTONS
===============
*/
.btn {
  cursor: pointer;
  color: var(--white);
  background: var(--primary-500);
  border: transparent;
  border-radius: var(--borderRadius);
  letter-spacing: var(--letterSpacing);
  padding: 0.375rem 0.75rem;
  box-shadow: var(--shadow-1);
  transition: var(--transition);
  text-transform: capitalize;
  display: inline-block; /*To respect vertical margins. - Center w/ parent.*/
}
.btn:hover {
  background: var(--primary-700);
  box-shadow: var(--shadow-3);
}
.btn-hipster {
  color: var(--primary-500);
  background: var(--primary-200);
}
.btn-hipster:hover {
  color: var(--primary-200);
  background: var(--primary-700);
}
.btn-block {
  width: 100%;
}

/*
=============== 
*FORMS
===============
*/
.form {
  width: 90vw;
  max-width: var(--fixed-width);
  background: var(--secondary-500);
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow-2);
  padding: 2rem 2.5rem;
  margin: 3rem auto; /*Self-centered. Adjust if in container.*/
}
.form-label {
  display: block;
  font-size: var(--small-text);
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}

.form-input,
.form-textarea {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: var(--borderRadius);
  background: var(--background-color-light);
  border: 1px solid var(--grey-200);
}

.form-row {
  margin-bottom: 1rem;
}

.form-radio-btn-label,
.form-checkbox-label {
  font-size: var(--small-text);
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}

.form-clue {
  font-size: var(--extra-small-text);
}

.form-textarea {
  height: 7rem;
}
::placeholder {
  font-family: inherit;
  color: var(--grey-400);
}
.form-alert {
  color: var(--red-dark);
  letter-spacing: var(--letterSpacing);
  text-transform: capitalize;
}

/*
=============== 
*PRELOADER SPINNER
===============
*/

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 6rem;
  height: 6rem;
  border: 5px solid var(--grey-400);
  border-radius: 50%;
  border-top-color: var(--primary-500);
  animation: spinner 0.6s linear infinite;
}
.loading {
  margin: 0 auto; /*Self-centered. Adjust if in container.*/
}

/** =============================================================SPECIFIC STYLES========================================================= */
section {
  margin-bottom: 50px;
}

.search-form {
  width: var(--fixed-width);
  margin: 100px auto 50px auto;
}

.filters {
  width: var(--max-width);
  margin-left: auto;
  margin-right: auto;
}

.filter-buttons {
  display: flex;
  justify-content: space-evenly;
}

.products {
  /* width: var(--max-width); */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacer-l);
}

.product {
  width: 750px;
  height: 170px;
  display: flex;
  background: var(--secondary-700);
  border: var(--primary-100) 1px solid;
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow-2);
}

.img-container {
  width: 30%;
  padding: var(--spacer-s);
  background-color: #fff;
  border-bottom-left-radius: var(--borderRadius);
  border-top-left-radius: var(--borderRadius);
}

.product img {
  height: 100%;
  width: 100%;
  display: block;
  object-fit: contain;
}

.product-info {
  width: 70%;
  padding: var(--spacer-baseline);
}

.product-title {
  margin-bottom: 0.4rem;
  color: var(--primary-500);
}

.product-title::after {
  display: block;
  content: "";
  background-color: var(--secondary-500);
  width: 40px;
  height: 1.7px;
}

.product-description {
  display: block;
  text-align: justify;
  color: var(--grey-800);
}

.product-numbers {
  display: flex;
  justify-content: space-between;
  font-size: var(--extra-small-text);
}

.product-price {
  font-weight: bold;
  background-color: var(--accent);
  padding: 3px;
  border-radius: var(--borderRadius);
  /* box-shadow: var(--shadow-1); */
}

.rating-icon {
  margin-right: 5px;
  color: coral;
}

/** =============================================================MEDIA QUERIES========================================================= */
/*TODO: Media queries can go to Variables.*/
/*TODO: Media queries - Desktop first*/
@media only screen and (max-width: 641px) {
  /**Mobile - SCALE: Major 2nd*/
  /*TODO: CUSTOMIZE -typescale*/
  h1 {
    margin-top: 0;
    font-size: 1.802rem;
  }

  h2 {
    font-size: 1.602rem;
  }

  h3 {
    font-size: 1.424rem;
  }

  h4 {
    font-size: 1.266rem;
  }

  h5 {
    font-size: 1.125rem;
  }
}

@media only screen and (max-width: 769px) {
  /**Tablet - SCALE: Minor 3rd*/
  /*TODO: CUSTOMIZE -typescale*/
  h1 {
    margin-top: 0;
    font-size: 2.488rem;
  }

  h2 {
    font-size: 2.074rem;
  }

  h3 {
    font-size: 1.728rem;
  }

  h4 {
    font-size: 1.44rem;
  }

  h5 {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 1025px) {
}
@media only screen and (max-width: 1281px) {
}

/*TODO: Media queries - Mobile first*/
@media only screen and (min-width: 640px) {
}
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 1024px) {
}
@media only screen and (min-width: 1280px) {
}
@media only screen and (min-width: 1537px) {
}
